<!DOCTYPE>
<html ng-app>

<head>
	<title>Kim Greenough</title>
	<link rel='stylesheet' type='text/css' href='styles/cover.css' />
	<link rel='stylesheet' type='text/css' href='styles/components.css' />

	<!-- FONT -->
	<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

	<!-- Angular, jQuery, and Scripts -->
	<script src='bower_components/jquery/dist/jquery.js'></script>
	<script src='bower_components/angular/angular.js'></script>
	<script src='controllers/galleryController.js'></script>
</head>

<body ng-controller="galleryController">
	<div class="fullscreen-container static-fullscreen">
		<img id="image1" class="fullscreen-clipped active" src="resources/cover/cover_1.png"></img>
		<img id="image2" class="fullscreen-clipped" src="resources/cover/cover_2.png"></img>
		<img id="image3" class="fullscreen-clipped" src="resources/cover/cover_1.png"></img>
		<img id="image4" class="fullscreen-clipped" src="resources/cover/cover_2.png"></img>
	<div>
	<div id="name-header">KIM GREENOUGH</div>
	<div class="social-link-container">
		<a class="social-link" href="http://kimbyarting.tumblr.com/" target="_blank">
			<img src="resources/icons/tumblrIcon.png"></img>
		</a>
		<a class="social-link" href="https://twitter.com/kimbyarting" target="_blank">
			<img src="resources/icons/twitterIcon.png"></img>
		</a>
		<a class="social-link" href="https://www.instagram.com/kimbyarting/" target="_blank">
			<img src="resources/icons/instagramIcons.png"></img>
		</a>
		<a class="social-link" href="https://www.facebook.com/kimbyarting/" target="_blank">
			<img src="resources/icons/facebookIcon.png"></img>
		</a>
		<a class="social-link" href="https://www.facebook.com/kim.greenough.9?fref=ts" target="_blank">
			<img src="https://www.cloud9charts.com/images/email-icon.png"></img>
		</a>
	</div>
	<a id="view-portfolio-button" class="default-button" href="views/portfolio.html">VIEW PORTFOLIO</a>
	<div class="scroll-button cover-scroll-button scroll-button-left cover-scroll-button-left" ng-click="previousSlide(); stopAutoscroll();">
		<span> {{ getPreviousIndex() + 1}}/{{ slideIds.length }}</span>
	</div>
	<div class="scroll-button cover-scroll-button scroll-button-right cover-scroll-button-right" ng-click="nextSlide(); stopAutoscroll();">
		<span>{{ getNextIndex() + 1}}/{{ slideIds.length }} ></span>
	</div>
</body>
</html>