<!DOCTYPE html>
<html lang='en' ng-app>

<head>
	<title>Kim Greenough</title>

	<!-- STYLES -->
	<link rel="stylesheet" type="text/css" href="../styles/portfolio.css" />
	<link rel="stylesheet" type="text/css" href="../styles/templateComponents.css" />
	<link rel="stylesheet" type="text/css" href="../styles/components.css" />

	<!-- FONT -->
	<link href="http://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet" type="text/css">

	<!-- SCRIPTS -->
	<!-- jQuery -->
	<script src="../bower_components/jquery/dist/jquery.min.js"></script>
	<!-- Javascripts -->
	<script src="../bower_components/angular/angular.min.js"></script>
	<script src="../controllers/portfolioController.js"></script>
</head>

<body>
	<div ng-controller="portfolioController">

		<!-- Content display -->
		<div ng-include="activeGalleryTemplate" ng-mouseenter="retractThumbs();"></div>

		<!-- User controls -->
		<div id="gallery-flyout">
			<div id="thumb-container">
				<div class="gallery-thumb" ng-repeat="thumb in activeThumbs">
					<img src = "{{ thumb }}" ></img>
				</div>
			</div>
		</div>
		
		<!-- Main navigation menu -->
		<div id="mainNav">
			<div id="header">
				<img src=" {{ activeHeaderImage }} "></img>				
			</div>
			
			<div id="content-links">
				<a href="../index.html">HOME</a>
				<div id="contactButton" class="linkHeaderText">CONTACT</div>
				<p></p>
				
				<div class="linkHeaderContainer" style="height:75px">
					<span class="linkHeaderText">CHARACTERS</span>
					<div id="characters_concept" class="listItem activeLink">Concept</div>
					<div id="characters_studies" class="listItem">Studies</div>
				</div>
				<div class="linkHeaderContainer">
					<span class="linkHeaderText">ENVIRONMENTS</span>
					<div id="environments_illustrations" class="listItem">Illustration</div>
					<div id="environments_studies" class="listItem">Studies</div>
				</div>
				<div class="linkHeaderContainer">
					<span class="linkHeaderText">PERSONAL</span>
					<div id="personal_fanart" class="listItem">Fan Art</div>
				</div>				
			</div>
		</div>
	</div>
</body>

</html>