<!DOCTYPE html>
<html lang='en'>

<head>
	<!-- STYLES -->
	<link rel='stylesheet' type='text/css' href='../bower_components/bootstrap/dist/css/bootstrap.min.css' />
	<link rel='stylesheet' type='text/css' href='../styles/portfolio.css' />

	<!-- SCRIPTS -->
	<!-- jQuery for bootstrap and minor animations -->
	<script src="../bower_components/jquery/dist/jquery.min.js"></script>
	<!-- Javascript for bootstrap -->
	<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../bower_components/angular/angular.min.js"></script>
</head>

<body>
	<div id='screen-size-container'>
		<div id='gallery-flyout'></div>
		<div id='mainNav'>
			<div id='header'></div>
			<div id='content-links'>
				<div class='linkHeader'>Characters</div>
				<div class='linkHeader'>Environments</div>
				<div class='linkHeader'>Sketches</div>
			</div>
			<div id='contact-button'>CONTACT ME</div>
		</div>
	</div>
</body>

</html>