<!DOCTYPE html>
<html lang='en' ng-app>

<head>
	<title>Kim Greenough</title>

	<!-- STYLES -->
	<link rel='stylesheet' type='text/css' href='../styles/portfolio.css' />
	<link rel='stylesheet' type='text/css' href='../styles/templateComponents.css' />

	<!-- FONT -->
	<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

	<!-- SCRIPTS -->
	<!-- jQuery for bootstrap and minor animations -->
	<script src="../bower_components/jquery/dist/jquery.min.js"></script>
	<!-- Javascript for bootstrap -->
	<script src="../bower_components/angular/angular.min.js"></script>
	<script src="../controllers/portfolioController.js"></script>
</head>

<body>
	<div ng-controller='portfolioController'>

		<!-- Content display -->
		<div ng-include="'templates/' + currentTemplate + '.html'"></div>

		<!-- User controls -->
		<div id='gallery-flyout' ng-mouseenter="galleryPeek('true')" ng-mouseleave="galleryPeek('false')" ng-click='toggleGallery();' ng-class="{ 'gallery-closed-hover': galleryOpen == false }">
			<div id='gallery-title'>{{ galleryTitle }}<span id='gallery-close-button' ></span></div>
			<div id='thumb-container'>
				<div class='gallery-thumb' ng-click='scrollToMe($index);' ng-repeat="thumb in thumbs[mainCategoryThumbChange][subCategory]">
					<img src = "{{ thumb }}" ></img>
				</div>
			</div>
		</div>
		<img id='gallery-flyout-icon' ng-mouseenter="galleryPeek('true')" ng-mouseleave="galleryPeek('false')" ng-click='toggleGallery();' src="https://cdn2.iconfinder.com/data/icons/photo-and-video/500/Landscape_moon_mountains_multiple_photo_photograph_pictury_sun_gallery_image-512.png"></img>
		
		<div id='mainNav'>
			<div id='header'>
				<img src=" {{ currentPreview }} "></img>
			</div>
			<div id='content-links'>
				<a href='../index.html'>HOME</a>
				<p></p>
				<div class='linkHeaderContainer'><span class='linkHeaderText' ng-click='expandCategory(0, "Characters");'>CHARACTERS</span>
					<div class='listItem' ng-class="{ 'activeLink': subCategory == 'projects' && mainCategoryThumbChange == 'CHARACTERS' }" ng-mouseenter="getPreview('characters', 0);" ng-mouseleave="restorePreview();" ng-click="chooseLink('projects'); changeTemplate('characters_projects');">Projects</div>
					<div class='listItem' ng-class="{ 'activeLink': subCategory == 'illustration' && mainCategoryThumbChange == 'CHARACTERS' }" ng-mouseenter="getPreview('characters', 1);" ng-mouseleave="restorePreview();" ng-click="chooseLink('illustration'); changeTemplate('characters_illustration');">Illustration</div>
					<div class='listItem' ng-class="{ 'activeLink': subCategory == 'sketches' && mainCategoryThumbChange == 'CHARACTERS' }" ng-mouseenter="getPreview('characters', 2);" ng-mouseleave="restorePreview();" ng-click="chooseLink('sketches'); changeTemplate('characters_sketches');">Sketches</div>
				</div>
				<div class='linkHeaderContainer'><span class='linkHeaderText' ng-click='expandCategory(1, "Environment");'>ENVIRONMENT</span>
					<div class='listItem' ng-class="{ 'activeLink': subCategory == 'projects' && mainCategoryThumbChange == 'ENVIRONMENT' }" ng-mouseenter="getPreview('environment', 0);" ng-mouseleave="restorePreview();" ng-click="chooseLink('projects'); changeTemplate('environments_projects');">Projects</div>
					<div class='listItem' ng-class="{ 'activeLink': subCategory == 'illustration' && mainCategoryThumbChange == 'ENVIRONMENT' }" ng-mouseenter="getPreview('environment', 1);" ng-mouseleave="restorePreview();" ng-click="chooseLink('illustration'); changeTemplate('environments_illustration');">Illustration</div>
					<div class='listItem' ng-class="{ 'activeLink': subCategory == 'sketches' && mainCategoryThumbChange == 'ENVIRONMENT' }" ng-mouseenter="getPreview('environment', 2);" ng-mouseleave="restorePreview();" ng-click="chooseLink('sketches'); changeTemplate('environments_sketches');">Sketches</div>
				</div>
				<div class='linkHeaderContainer'><span class='linkHeaderText' ng-click='expandCategory(2, "Other");'>OTHER</span>
					<div class='listItem' ng-class="{ 'activeLink': subCategory == 'digital' && mainCategoryThumbChange == 'OTHER' }" ng-mouseenter="getPreview('other', 0);" ng-mouseleave="restorePreview();" ng-click="chooseLink('digital'); changeTemplate('other_digital');">Digital</div>
					<div class='listItem' ng-class="{ 'activeLink': subCategory == 'traditional' && mainCategoryThumbChange == 'OTHER' }" ng-mouseenter="getPreview('other', 1);" ng-mouseleave="restorePreview();" ng-click="chooseLink('traditional'); changeTemplate('other_traditional');">Traditional</div>
					<div class='listItem' ng-class="{ 'activeLink': subCategory == 'inktober' && mainCategoryThumbChange == 'OTHER' }" ng-mouseenter="getPreview('other', 2);" ng-mouseleave="restorePreview();" ng-click="chooseLink('inktober'); changeTemplate('other_inktober');">Inktober</div>
				</div>
				<div class='linkHeaderContainer'><span class='linkHeaderText'>CONTACT</span>				
			</div>
		</div>
		<div id='scroll-arrow' ng-mouseenter="toggleScroll(true);" ng-mouseleave="toggleScroll(false);">
			<img src="http://cdn.content.compendiumblog.com/uploads/user/e1247f38-6873-4cee-bc38-bba3d104f0e7/9fbc9071-9906-47e3-8d36-787c83599cb6/Image/60733e49d1a116a8d46587d3273e4ef9/arrow.gif"></img>
		</div>
	</div>
</body>

<!-- Resize the gallery width anytime the page loads or window is resized. This is also done in portfolioController::ChangeTemplate()-->
	<script>
		var numberOfImagesPrevious = 0;
		
		// Resize the gallery to fit all images as they load.
		var resizeGallery = function(){
			var $images = $(".template-image-restrict");
			var numberOfImagesCurrent = $images.length;
			var totalWidth = 0;

			for(var i = 0; i < $images.length; ++i){
				var marginLeft = $images.eq(i).css("margin-left");
				var marginRight = $images.eq(i).css("margin-right");

				totalWidth += $images.eq(i).width() + parseInt(marginLeft.substring(0, marginLeft.length - 2)) + parseInt(marginRight.substring(0, marginRight.length - 2));
				totalWidth += 6;
			}
			
			if (numberOfImagesCurrent > numberOfImagesPrevious && 
				numberOfImagesCurrent > 0){
					
				numberOfImagesPrevious = numberOfImagesCurrent;
				return false;
			}

			$(".template-container").css("width", totalWidth + "px");
			
			return true;
		};

		// Resize the gallery every x milliseconds (for new images loaded).
		var resizeGalleryAsync = function(interval){
			var resizeGalleryInterval = setInterval(function() {
				if(resizeGallery() === true){
			    	clearInterval(resizeGalleryInterval);
				}
			}, interval);
		};
		
		// Resize the gallery on page load.
		resizeGalleryAsync(100);
		resizeGalleryAsync(500);
		resizeGalleryAsync(2000);
		resizeGalleryAsync(5000);

		// Resize the gallery when the window is resized.
		$( window ).resize(function() {
			resizeGalleryAsync(100);
			resizeGalleryAsync(500);
			resizeGalleryAsync(2000);
			resizeGalleryAsync(5000);
			
			console.log("window resized");
		});
	</script>

</html>