<div class="screen-container">
	<div class="template-container">
    <div class="quick-click-container" style="margin-left:220px;">
        <div class="thumb-container">
            <div style="text-align:center; margin:30px 0px 20px 0px;">QUICK CLICK</div>
						<div class="gallery-thumb" ng-click="slideTo(0);">
                <img src = "../../resources/characters_concept/thumbs/spacePrincess1Thumb.png" ></img>
            </div>
						<div class="gallery-thumb" ng-click="slideTo(1);">
                <img src = "../../resources/characters_concept/thumbs/spacePrincess2Thumb.png" ></img>
            </div>
						<div class="gallery-thumb" ng-click="slideTo(2);">
                <img src = "../../resources/characters_concept/thumbs/spacePrincess3Thumb.png" ></img>
            </div>
						<div class="gallery-thumb" ng-click="slideTo(3);">
                <img src = "../../resources/characters_concept/thumbs/spacePrincessExplorationThumb.png" ></img>
            </div>
						<div class="gallery-thumb" ng-click="slideTo(4);">
                <img src = "../../resources/characters_concept/thumbs/spacePrincessIterationThumb.png" ></img>
            </div>
						<div class="gallery-thumb" ng-click="slideTo(5);">
                <img src = "../../resources/characters_concept/thumbs/Neongobie_1_thumb.png" ></img>
            </div>
						<div class="gallery-thumb" ng-click="slideTo(6);">
                <img src = "../../resources/characters_concept/thumbs/Neongobie_2_thumb.png" ></img>
            </div>
						<div class="gallery-thumb" ng-click="slideTo(7);">
                <img src = "../../resources/characters_concept/thumbs/Neongobie_3_thumb.png" ></img>
            </div>
						<div class="gallery-thumb" ng-click="slideTo(8);">
                <img src = "../../resources/characters_concept/thumbs/Neongobie_4_thumb.png" ></img>
            </div>
						<div class="gallery-thumb" ng-click="slideTo(9);">
                <img src = "../../resources/characters_concept/thumbs/Neongobie_5_thumb.png" ></img>
            </div>
						<div class="gallery-thumb" ng-click="slideTo(10);">
                <img src = "../../resources/characters_concept/thumbs/Neongobie_6_thumb.png" ></img>
            </div>
						<div class="gallery-thumb" ng-click="slideTo(11);">
                <img src = "../../resources/characters_concept/thumbs/Neongobie_7_thumb.png" ></img>
            </div>
						<div class="gallery-thumb" ng-click="slideTo(12);">
                <img src = "../../resources/characters_concept/thumbs/Neongobie_1_thumb.png" ></img>
            </div>



            <div class="gallery-thumb" ng-click="slideTo(5);">
                <img src = "../../resources/characters_concept/thumbs/rollerGirlThumb.png" ></img>
            </div>
        </div>
    </div>
		<img class="template-image-restrict" src = "../../resources/characters_concept/spacePrincess1.png" ></img>
		<img class="template-image-restrict" src = "../../resources/characters_concept/spacePrincess2.png" ></img>
		<img class="template-image-restrict" src = "../../resources/characters_concept/spacePrincess3.png" ></img>
		<img class="template-image-restrict" src = "../../resources/characters_concept/spacePrincessExploration.png" ></img>
		<img class="template-image-restrict" src = "../../resources/characters_concept/spacePrincessIteration.png" ></img>
		<img class="template-image-restrict" src = "../../resources/characters_concept/Neongobie_1_turnarounds.png" ></img>
		<img class="template-image-restrict" src = "../../resources/characters_concept/Neongobie_2_Turnarounds.png" ></img>
		<img class="template-image-restrict" src = "../../resources/characters_concept/Neongobie_3_Expressions.png" ></img>
		<img class="template-image-restrict" src = "../../resources/characters_concept/Neongobie_4_Action_Sheet.png" ></img>
		<img class="template-image-restrict" src = "../../resources/characters_concept/Neongobie_5_Spoctopus.png" ></img>
		<img class="template-image-restrict" src = "../../resources/characters_concept/Neongobie_6_Dev.png" ></img>
		<img class="template-image-restrict" src = "../../resources/characters_concept/Neongobie_7_Dev.png" ></img>
    <img class="template-image-restrict" src = "../../resources/characters_concept/rollerGirl.png" ></img>
	</div>
</div>
