<div class="screen-container">
	<div class="template-container">
		<img class="template-image-restrict first-image" src = "../../resources/characters/illustration/1.jpg" ></img>
		<img class="template-image-restrict" src = "../../resources/characters/illustration/2.jpg" ></img>
		<img class="template-image-restrict" src = "../../resources/characters/illustration/3.jpg" ></img>
		<img class="template-image-restrict" src = "../../resources/characters/illustration/4.jpg" ></img>
		<img class="template-image-restrict" src = "../../resources/characters/illustration/5.jpg" ></img>
		<img class="template-image-restrict" src = "../../resources/characters/illustration/6.jpg" ></img>
		<img class="template-image-restrict" src = "../../resources/characters/illustration/7.jpg" ></img>
		<img class="template-image-restrict" src = "../../resources/characters/illustration/8.jpg" ></img>
		<img class="template-image-restrict" src = "../../resources/characters/illustration/9.jpg" ></img>
		<img class="template-image-restrict" src = "../../resources/characters/illustration/10.jpg" ></img>
	</div>
</div>