<div class="screen-container">
	<div class="template-container">
		<img class="template-image-restrict" style="margin-left:220px;" src = "../../resources/characters_concept/waterGirl.png" ></img>
		<img class="template-image-restrict" src = "../../resources/characters_concept/peterPanMermaid.png" ></img>
		<img class="template-image-restrict" src = "../../resources/characters_concept/hipsterCentaur.png" ></img>
		<img class="template-image-restrict" src = "../../resources/characters_concept/christmasMermaid.png" ></img>
	</div>
</div>