<div class="screen-container">
	<div class="template-container">
		<img class="template-image-restrict" style="margin-left:220px;" src = "../../resources/characters/illustration/Leeloo.png" ></img>
		<img class="template-image-restrict" src = "../../resources/characters/illustration/mermaid.png" ></img>
		<img class="template-image-restrict" src = "../../resources/icons/comingSoonPortrait.png" ></img>
		<img class="template-image-restrict" src = "../../resources/icons/comingSoonPortrait.png" ></img>
		<img class="template-image-restrict" src = "../../resources/icons/comingSoonPortrait.png" ></img>
		<img class="template-image-restrict" src = "../../resources/icons/comingSoonPortrait.png" ></img>
		<img class="template-image-restrict" src = "../../resources/icons/comingSoonPortrait.png" ></img>
		<img class="template-image-restrict" src = "../../resources/icons/comingSoonPortrait.png" ></img>
		<img class="template-image-restrict" src = "../../resources/icons/comingSoonPortrait.png" ></img>
		<img class="template-image-restrict" src = "../../resources/icons/comingSoonPortrait.png" ></img>
		<img class="template-image-restrict" src = "../../resources/icons/comingSoonPortrait.png" ></img>
		<img class="template-image-restrict" src = "../../resources/icons/comingSoonPortrait.png" ></img>
	</div>
</div>