<div class="screen-container">
	<div class="template-container">
        <div class="quick-click-container" style="margin-left:220px;">
            <div class="thumb-container">
                <div style="text-align:center; margin:30px 0px 20px 0px;">QUICK CLICK</div>
                <div class="gallery-thumb" ng-click="slideTo(0);">
                    <img src = "../../resources/characters_concept/thumbs/waterGirlThumb.png" ></img>
                </div>
                <div class="gallery-thumb" ng-click="slideTo(1);">
                    <img src = "../../resources/characters_concept/thumbs/peterPanMermaidThumb.png" ></img>
                </div>
                <div class="gallery-thumb" ng-click="slideTo(2);">
                    <img src = "../../resources/characters_concept/thumbs/hipsterCentaurThumb.png" ></img>
                </div>
                <div class="gallery-thumb" ng-click="slideTo(3);">
                    <img src = "../../resources/characters_concept/thumbs/christmasMermaidThumb.png" ></img>
                </div>
            </div>
        </div>
		<img class="template-image-restrict" src = "../../resources/characters_concept/waterGirl.png" ></img>
		<img class="template-image-restrict" src = "../../resources/characters_concept/peterPanMermaid.png" ></img>
		<img class="template-image-restrict" src = "../../resources/characters_concept/hipsterCentaur.png" ></img>
		<img class="template-image-restrict" src = "../../resources/characters_concept/christmasMermaid.png" ></img>
	</div>
</div>