<!-- The main content display gallery -->
<div class="screen-container">
	<div class="template-container">
        <div class="quick-click-container" style="margin-left:220px;">
            <div class="thumb-container">
                <div style="text-align:center; margin:30px 0px 20px 0px;">QUICK CLICK</div>
								<div class="gallery-thumb" ng-click="slideTo(0);">
                    <img src = "../../resources/characters_studies/thumbs/4Thumb.png" ></img>
                </div>
								<div class="gallery-thumb" ng-click="slideTo(1);">
                    <img src = "../../resources/characters_studies/thumbs/5Thumb.png" ></img>
                </div>
								<div class="gallery-thumb" ng-click="slideTo(2);">
                    <img src = "../../resources/characters_studies/thumbs/6Thumb.png" ></img>
                </div>
								<div class="gallery-thumb" ng-click="slideTo(3);">
                    <img src = "../../resources/characters_studies/thumbs/1Thumb.png" ></img>
                </div>
								<div class="gallery-thumb" ng-click="slideTo(4);">
                    <img src = "../../resources/characters_studies/thumbs/7Thumb.png" ></img>
                </div>
								<div class="gallery-thumb" ng-click="slideTo(5);">
                    <img src = "../../resources/characters_studies/thumbs/8Thumb.png" ></img>
                </div>
            </div>
        </div>
		<img class="template-image-restrict" src = "../../resources/characters_studies/4.png" ></img>
		<img class="template-image-restrict" src = "../../resources/characters_studies/5.png" ></img>
		<img class="template-image-restrict" src = "../../resources/characters_studies/6.png" ></img>
		<img class="template-image-restrict" src = "../../resources/characters_studies/1.png" ></img>
		<img class="template-image-restrict" src = "../../resources/characters_studies/7.png" ></img>
		<img class="template-image-restrict" src = "../../resources/characters_studies/8.png" ></img>
	</div>
</div>
