<!-- The main content display gallery -->
<div class="screen-container">
	<div class="template-container">
		<img class="template-image-restrict first-image" src = "../../resources/environments/projects/1.jpg" ></img>
		<img class="template-image-restrict" src = "../../resources/environments/projects/2.jpg" ></img>
		<img class="template-image-restrict" src = "../../resources/environments/projects/3.jpg" ></img>
		<img class="template-image-restrict" src = "../../resources/environments/projects/4.jpg" ></img>
		<img class="template-image-restrict" src = "../../resources/environments/projects/5.jpg" ></img>
		<img class="template-image-restrict" src = "../../resources/environments/projects/6.jpg" ></img>
	</div>
</div>