<!-- The main content display gallery -->
<div class="screen-container">
	<div class="template-container">
        <div class="quick-click-container" style="margin-left:220px;">
            <div class="thumb-container">
                <div class="gallery-thumb" ng-click="slideTo(0);">
                    <img src = "../../resources/environments_studies/thumbs/parkThumb.png" ></img>
                </div>
                <div class="gallery-thumb" ng-click="slideTo(1);">
                    <img src = "../../resources/environments_studies/thumbs/mountainRangeThumb.png" ></img>
                </dv>
                <div class="gallery-thumb" ng-click="slideTo(2);">
                    <img src = "../../resources/environments_studies/thumbs/courtyardThumb.png" ></img>
                </div>
                <div class="gallery-thumb" ng-click="slideTo(3);">
                    <img src = "../../resources/environments_studies/thumbs/rainforestThumb.png" ></img>
                </div>
            </div>
        </div>
		<img class="template-image-restrict" src = "../../resources/environments_studies/park.png" ></img>
		<img class="template-image-restrict" src = "../../resources/environments_studies/mountainRange.png" ></img>
		<img class="template-image-restrict" src = "../../resources/environments_studies/courtyard.png" ></img>
		<img class="template-image-restrict" src = "../../resources/environments_studies/rainforest.png" ></img>
	</div>
</div>