<!-- The main content display gallery -->
<div class="screen-container">
	<div class="template-container">
		<img class="template-image-restrict" style="margin-left:220px;" src = "../../resources/environments/sketches/1.png" ></img>
		<img class="template-image-restrict" src = "../../resources/environments/sketches/2.png" ></img>
		<img class="template-image-restrict" src = "../../resources/environments/sketches/3.png" ></img>
		<img class="template-image-restrict" src = "../../resources/environments/sketches/4.png" ></img>
		<img class="template-image-restrict" src = "../../resources/icons/comingSoonPortrait.png" ></img>
	</div>
</div>