<!-- The main content display gallery -->
<div class="screen-container">
	<div class="template-container">
		<img class="template-image-restrict" style="margin-left:220px;" src = "../../resources/environments_studies/park.png" ></img>
		<img class="template-image-restrict" src = "../../resources/environments_studies/mountainRange.png" ></img>
		<img class="template-image-restrict" src = "../../resources/environments_studies/courtyard.png" ></img>
		<img class="template-image-restrict" src = "../../resources/environments_studies/rainforest.png" ></img>
	</div>
</div>