<!-- The main content display gallery -->
<div class="screen-container">
	<div class="template-container">
		<img class="template-image-restrict" style="margin-left:220px;" src = "../../resources/environments/illustrations/1.jpg" ></img>
		<img class="template-image-restrict" src = "../../resources/environments/illustrations/2.jpg" ></img>
		<img class="template-image-restrict" src = "../../resources/environments/illustrations/3.jpg" ></img>
		<img class="template-image-restrict" src = "../../resources/environments/illustrations/4.jpg" ></img>
		<img class="template-image-restrict" src = "../../resources/environments/illustrations/5.jpg" ></img>
		<img class="template-image-restrict" src = "../../resources/environments/illustrations/6.jpg" ></img>
		<img class="template-image-restrict" src = "../../resources/environments/illustrations/7.jpg" ></img>
		<img class="template-image-restrict" src = "../../resources/environments/illustrations/8.jpg" ></img>
		<img class="template-image-restrict" src = "../../resources/environments/illustrations/9.jpg" ></img>
	</div>
</div>