<!-- The main content display gallery -->
<div class="screen-container">
	<div class="template-container">
        <div class="quick-click-container" style="margin-left:220px;">
            <div class="thumb-container">
                <div style="text-align:center; margin:30px 0px 20px 0px;">INDEX</div>
                <div class="gallery-thumb" ng-click="slideTo(0);">
                    <img src = "../../resources/environments_illustrations/thumbs/lotus_thumb_1.png" ></img>
                </div>
								<div class="gallery-thumb" ng-click="slideTo(1);">
                    <img src = "../../resources/environments_illustrations/thumbs/lotus_thumb_2.png" ></img>
                </div>
								<div class="gallery-thumb" ng-click="slideTo(2);">
                    <img src = "../../resources/environments_illustrations/thumbs/egyptian_thumb_1.png" ></img>
                </div>
								<div class="gallery-thumb" ng-click="slideTo(3);">
                    <img src = "../../resources/environments_illustrations/thumbs/egyptian_thumb_2.png" ></img>
                </div>
            </div>
        </div>
				<img class="template-image-restrict" src = "../../resources/environments_illustrations/Lotus_Rock.png" ></img>
				<img class="template-image-restrict" src = "../../resources/environments_illustrations/Lotus_Rock_Dev.png" ></img>
				<img class="template-image-restrict" src = "../../resources/environments_illustrations/egyptian_throne.png" ></img>
				<img class="template-image-restrict" src = "../../resources/environments_illustrations/egyptian_throne_process.png" ></img>
	</div>
</div>
