body{
}

#name-header{
	position:fixed;

	height:auto;
	width:auto;

	color:white;
	text-align:left;
	font-weight:bold;
	font-size:2.8em;
	letter-spacing: 0.3em;

	top:10px;
	left:20px;
}

.social-link-container{
	position:fixed;

	height:auto;
	width:auto;

	top:15px;
	right:0px;
}

.social-link{
	position:relative;
	display:inline-block;
	width:40px;
	height:40px;

	border: 1px solid white;

	border-radius: 2px;

	margin-right:15px;
	padding:3px;
}

.social-link img{
	width:100%;
	height:100%;

	border-radius: 3px;

	max-width:100%;
	max-height:100%;

	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}

.social-link img:hover{
	cursor:pointer;

	opacity: 0.7;

	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;

   -webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
}

#view-portfolio-button{
	position:absolute;

	top:320px;
	left:15px;
}

.cover-scroll-button{
	position:fixed;
	bottom:70px;

	background-color:white;
}

.cover-scroll-button-left{
	left:0px;
}

.cover-scroll-button-right{
	right:0px;
}

.title-container{
	position:fixed;
	width:300px;
	height:300px;
	top:15px;
	left:10px;
}

.title-container img{
	max-width:100%;
	height: auto;
}
