body{
	background-image:url("http://us.cdn291.fansshare.com/pictures/tumblrbackgrounds/blue-lace-tumblr-background-free-tumblr-backgrounds-ibjennyjenny-idvgkhyn-1370499116.jpg");
}

#name-header{
	position:fixed;

	height:auto;
	width:auto;

	color:white;
	text-align:left;
	font-weight:bold;
	font-size:2.8em;
	letter-spacing: 0.3em;

	top:10px;
	left:20px;
}

.social-link-container{
	position:fixed;

	height:auto;
	width:auto;

	top:70px;
	left:20px;
}

.social-link{
	position:relative;
	display:inline-block;
	width:50px;
	height:50px;

	margin-right:20px;

	background-color: blue;
}

.social-link img{
	width:100%;
	height:100%;

	max-width:100%;
	max-height:100%;
}

.social-link:hover{
	cursor:pointer;
}

#view-portfolio-button{
	position:absolute;

	top:170px;
	left:20px;
}

.cover-scroll-button{
	position:fixed;
	bottom:70px;

	background-color:white;
}

.cover-scroll-button-left{
	left:0px;
}

.cover-scroll-button-right{
	right:0px;
}