/*
div::-webkit-scrollbar {  
    width: 10px; 
}  
div::-webkit-scrollbar-track { 
	width: 10px; 
    background-color: #a09d9d;  
    border-left: 1px solid white;  
}  
div::-webkit-scrollbar-thumb {  
    background-color: #eadda4;  
}  
div::-webkit-scrollbar-thumb:hover {  
    background-color: #d3c57c;  
}  
*/
ul{
	list-style: none;
}

body{
	font-family: 'Poiret One', 'Avant Garde', 'Helvetica', cursive;
}

a:visited{
	text-decoration: none;
}

#screen-size-container{
	height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;

	background-color: white;
}

#mainNav{
	position:fixed;

	top: 0px;
	bottom: 16px;
	left: 0px;

	background-color: rgba(255, 255, 255, 0.85);
	width:170px;

	display: inline-block;
	padding: 15px;
	overflow: hidden;
}

#gallery-flyout-button{
	position:fixed;
	
	left:200px;
	
	width:5px;
}

#gallery-flyout{
	position: fixed;

	top:0px;
	left:200px;
	bottom:16px;

	width:0px;
	
	opacity: 0;

	display: inline-block;
	background-color: rgba(255, 255, 255, 0.85);
	overflow: hidden;

	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}

#gallery-title{
	color:white;
	font-size: 1.5em;
	letter-spacing: 0.3em;

	width: 615px;

	margin-top: 10px;
	margin-bottom: 30px;
	margin-left: 55px;
	display: inline-block;
}

#gallery-close-button{
	width:25px;
	height:25px;
	background-color: red;
	float:right;
}

#gallery-close-button:hover{
	cursor: pointer;
	background-color: white;
}

.quick-click-container{
    width: 414px;
    height: 95%;
    max-height:95%;
    
    display:inline-block;

    border: 1px solid #E1E1E1;

	margin:15px 0 0 0;
    padding:0px 20px;
    
    vertical-align: top;
    
    overflow:hidden;
}

.thumb-container{
	width:414px;
    height:auto;
	max-height:100%;
	overflow: auto;
}

.gallery-thumb{
	width:120px;
	height:120px;
	margin: 7px;
	display:inline-block;
	
	overflow: hidden;

	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}

.gallery-thumb:hover{
	cursor: pointer;

	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}

.gallery-thumb img{
	width:100%;
	height:100%;
	
	max-width: 100%;
	max-height:100%;
	
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
	
	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}

.gallery-thumb img:hover{
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-ms-transform: scale(1.0);
	-o-transform: scale(1.0);
	transform: scale(1.0);
   
   	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
	
	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}

#header{
	display: inline-block;
	width:100%;
	height:170px;
	overflow: hidden;

	margin: 0 auto;
}

#header img{
	width:100%;
	
	max-width: 100%;
	max-height: 100%;
}

#content-links{
	width:170px;
	height:auto;
	overflow: hidden;

	display: inline-block;

	margin-top: 10px;
	margin-bottom: 10px;
}

#content-links a{
	text-decoration: none;
	color: black;
	letter-spacing: 0.2em;
	font-size: 1.1em;

	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}

#content-links a:hover{
	text-decoration: none;
	cursor: pointer;
	
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);

	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}

#contact-button{
	position: absolute;
	top: 440px;
	left: 15px;
	letter-spacing: 0.2em;
	font-weight:bold;

	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}

#contact-button:hover{
	cursor: pointer;

	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}

.linkHeaderContainer{
	color:rgb(0, 0, 0);
	margin-top: 5px;
	height:20px;
	overflow: hidden;
}

.linkHeaderText{
	letter-spacing: 0.23em;
	font-size: 1.1em;

	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}

.linkHeaderText:hover{
	cursor: pointer;

	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
   
   -webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
}

.listItem{
	padding-left: 20px;
	letter-spacing: 0.2em;
	font-size:1em;

	margin-top: 5px;
	margin-bottom: 5px;

	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}

.listItem:hover{
	cursor:pointer;

	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
   
   -webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
}

.activeLink{
	
	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
	
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
}

.art-display{
	width:200px;
	height:200px;
	background-color: blue;
	position: absolute;
	top:50%;
	right:50%;
}

.first-image{
	margin-left: 220px;
	margin-top:10px;
	margin-right:10px;
	margin-bottom:10px;
}

#contactButton{
	margin-top: 5px;
}

#menu-break{
    width:75px;
    height:10px;
    
    margin: 20px 0px;
    
    border-top:1px solid silver;
}

