/*
div::-webkit-scrollbar {  
    width: 10px; 
}  
div::-webkit-scrollbar-track { 
	width: 10px; 
    background-color: #a09d9d;  
    border-left: 1px solid white;  
}  
div::-webkit-scrollbar-thumb {  
    background-color: #eadda4;  
}  
div::-webkit-scrollbar-thumb:hover {  
    background-color: #d3c57c;  
}  
*/
ul{
	list-style: none;
}

body{
	font-family: 'Poiret One', 'Avant Garde', 'Helvetica', cursive;
}

a:visited{
	text-decoration: none;
}

#screen-size-container{
	height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;

	background-color: white;
}

#mainNav{
	position:fixed;

	top: 0px;
	bottom: 16px;
	left: 0px;

	background-color: rgba(255, 255, 255, 0.85);
	width:170px;

	display: inline-block;
	padding: 15px;
	overflow: hidden;
}

#gallery-flyout{
	position: fixed;
	
	border: solid 1px white;

	top:15px;
	left:231px;

	width:16px;
	height:56px;


	display: inline-block;
	background-color: rgba(154, 169, 181, 0.7);
	margin-top:15px;
	padding:15px;
	overflow: hidden;

	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;

	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}

#gallery-flyout-icon{
	position: fixed;

	top:55px;
	left:235px;
	
	width:40px;
	height:auto;
}

#gallery-flyout-icon:hover{
	cursor: pointer;
}

.gallery-closed-hover{
	cursor: pointer;
}

#gallery-title{
	color:white;
	font-size: 1.5em;
	letter-spacing: 0.3em;

	width: 615px;
	opacity: 0;

	margin-top: 10px;
	margin-bottom: 30px;
	margin-left: 55px;
	display: inline-block;
}

#gallery-close-button{
	width:25px;
	height:25px;
	background-color: red;
	float:right;
}

#gallery-close-button:hover{
	cursor: pointer;
	background-color: white;
}

#thumb-container{
	width:590px;
	height:350px;
	overflow-y:scroll;
	opacity: 0;

	margin-left: auto;
	margin-right: auto;
}

.gallery-thumb{
	width:90px;
	height:90px;
	margin: 10px 10px 20px 10px;
	display:inline-block;

	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}

.gallery-thumb:hover{
	cursor: pointer;

	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
   
   	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
}

.gallery-thumb img{
	width:100%;
	height:100%;
	
	max-width: 100%;
	max-height:100%;
	
	border-radius:3px;
}

#header{
	display: inline-block;
	background-color: green;
	width:100%;
	height:170px;
	overflow: hidden;

	margin: 0 auto;
}

#header img{
	width:100%;
	
	max-width: 100%;
	max-height: 100%;
}

#content-links{
	width:170px;
	height:auto;
	overflow: hidden;

	display: inline-block;

	margin-top: 10px;
	margin-bottom: 10px;
}

#content-links a{
	text-decoration: none;
	color: black;
	letter-spacing: 0.2em;
	font-size: 1.1em;

	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}

#content-links a:hover{
	text-decoration: none;
	cursor: pointer;
	
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);

	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}

#contact-button{
	position: absolute;
	top: 440px;
	left: 15px;
	letter-spacing: 0.2em;
	font-weight:bold;

	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}

#contact-button:hover{
	cursor: pointer;

	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}

.linkHeaderContainer{
	color:rgb(0, 0, 0);
	margin-top: 5px;
	height:20px;
	overflow: hidden;
}

.linkHeaderText{
	letter-spacing: 0.25em;
	font-size: 1.1em;

	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}

.linkHeaderText:hover{
	cursor: pointer;

	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
   
   -webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
}

.listItem{
	padding-left: 20px;
	letter-spacing: 0.2em;
	font-size:1em;

	margin-top: 5px;
	margin-bottom: 5px;

	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}

.listItem:hover{
	cursor:pointer;

	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
   
   -webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
}

.activeLink{
	letter-spacing: 0.4em;
	
	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
	
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
}

.art-display{
	width:200px;
	height:200px;
	background-color: blue;
	position: absolute;
	top:50%;
	right:50%;
}

.first-image{
	margin-left: 220px;
	margin-top:10px;
	margin-right:10px;
	margin-bottom:10px;
}
