/*
div::-webkit-scrollbar {  
    width: 10px; 
}  
div::-webkit-scrollbar-track { 
	width: 10px; 
    background-color: #a09d9d;  
    border-left: 1px solid white;  
}  
div::-webkit-scrollbar-thumb {  
    background-color: #eadda4;  
}  
div::-webkit-scrollbar-thumb:hover {  
    background-color: #d3c57c;  
}  
*/
ul{
	list-style: none;
}

body{
	font-family: 'Poiret One', 'Avant Garde', 'Helvetica', cursive;
}

a{
	text-decoration: none;
	color:white;
	letter-spacing: 0.2em;
	font-size: 1.1em;

	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}

a:hover{
	text-decoration: none;
	cursor: pointer;
	color:rgba(255, 197, 96, 1.0);

	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}

a:visited{
	text-decoration: none;
}

#screen-size-container{
	height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;

	background-color: white;
}

#mainNav{
	position:fixed;

	top: 15px;
	left: 15px;

	background-color: rgba(11, 30, 46, 0.7);
	width:200px;
	height:450px;

	border-top-left-radius:5px;
	border-bottom-left-radius:5px;

	display: inline-block;

	padding: 15px;

	margin-top: 15px;
	margin-left: 15px;
	margin-bottom: 15px;

	overflow:hidden;
}

#gallery-flyout{
	position: fixed;

	top:409px;
	left:260px;

	width:16px;
	height:56px;


	display: inline-block;
	background-color: rgba(154, 169, 181, 0.7);
	margin-top:15px;
	padding:15px;
	overflow: hidden;

	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;

	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}

#gallery-flyout-icon{
	position: fixed;

	top:447px;
	left:262px;
	
	width:40px;
	height:auto;
	
	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}

.gallery-closed-hover{
	cursor: pointer;
}

#gallery-title{
	color:white;
	font-size: 1.5em;
	letter-spacing: 0.3em;

	width: 615px;
	opacity: 0;

	margin-top: 10px;
	margin-bottom: 30px;
	margin-left: 55px;
	display: inline-block;
}

#gallery-close-button{
	width:25px;
	height:25px;
	background-color: red;
	float:right;
}

#gallery-close-button:hover{
	cursor: pointer;
	background-color: white;
}

#thumb-container{
	width:590px;
	height:350px;
	overflow-y:scroll;
	opacity: 0;

	margin-left: auto;
	margin-right: auto;
}

.gallery-thumb{
	width:90px;
	height:90px;
	background-color: black;
	margin: 10px 10px 20px 10px;
	display:inline-block;

	border:1px solid rgba(255,255,255,0);

	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}

.gallery-thumb:hover{
	border:1px solid rgba(255,255,255,1);
	cursor: pointer;

	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}

.gallery-thumb img{
	width:100%;
	height:100%;
	
	max-width: 100%;
	max-height:100%;
}

#header{
	display: inline-block;
	background-color: green;
	width:100%;
	height:150px;
	overflow: hidden;

	margin: 0 auto;
}

#header img{
	max-width: 100%;
	max-height: 100%;
}

#content-links{
	width:170px;
	height:auto;
	overflow: hidden;

	display: inline-block;

	margin-top: 10px;
	margin-bottom: 10px;
}

#contact-button{
	position: absolute;
	top: 440px;
	left: 15px;
	letter-spacing: 0.2em;
	font-weight:bold;

	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}

#contact-button:hover{
	cursor: pointer;
	color:rgba(255, 197, 96, 1.0);

	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}

.linkHeaderContainer{
	color:white;
	margin-top: 5px;
	height:20px;
	overflow: hidden;
}

.linkHeaderText{
	letter-spacing: 0.3em;
	font-size: 1.1em;

	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}

.linkHeaderText:hover{
	cursor: pointer;
	color:rgba(255, 197, 96, 1.0);
	letter-spacing: 0.3em;
	font-size: 1.1em;

	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}

.listItem{
	padding-left: 20px;
	letter-spacing: 0.2em;
	font-size:1em;

	margin-top: 5px;
	margin-bottom: 5px;

	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}

.listItem:hover{
	cursor:pointer;
	color:rgba(255, 197, 96, 1.0);

	transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
}

.art-display{
	width:200px;
	height:200px;
	background-color: blue;
	position: absolute;
	top:50%;
	right:50%;
}
