.screen-container{
	height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;

    overflow-x:scroll;
}

/* Allows us to scroll since wider than screen */
.template-container{
	left: 0;
    top: 0;
    position: fixed;
    
	overflow-x:scroll;
	overflow-y:hidden;

	width:auto;
	height:100%;

	max-height:100%;
}

/* Allow image to take anywhere from 0 - 100% height */
.template-image-restrict{
	width:auto;

	display:inline-block;

	max-width:3000%;
	max-height:98%;

	margin:0.5%;
}
