#template-container{
	width:auto;
	height:100%;

	max-width:auto;
	max-height:100%;

	padding-top:15px;
	padding-bottom:15px;
}

.template-image{
	max-width:auto;
	max-height:100%;
	
	width:auto;
	height:100%;
}