.template-container{

	overflow-y:hidden;
	overflow-x:scroll;


	height: 100%;
    width: auto;
    left: 0;
    top: 0;
    position: fixed;

    max-width: 200%;
    max-height: 100%;
}

.template-image{


	margin-top:5px;
	margin-bottom: 5px;
}